In [1]:
from pathlib import Path
from datetime import datetime, timedelta
from functools import reduce
from operator import add

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from  matplotlib.colors import LinearSegmentedColormap, TwoSlopeNorm
import matplotlib.dates as mdates

from music_league_graphs.scraper import create_dataframe
from music_league_graphs.spotify_api import SpotifyAPI

In [11]:
paths = [Path(f"../league_{i}") for i in range(1, 5)]

dfs: list[pd.DataFrame] = []
names: set[str] = set()

for path in paths:
    df, league_names = create_dataframe(path)
    df["league"] = path.stem
    dfs.append(df)
    names = names.union(set(league_names))

names = list(names)
df = pd.concat(dfs, axis=0, ignore_index=True)

df["round_score"] = df[names].sum(axis=1)
df["round_rank"] = df.groupby("round")["round_score"].rank(ascending=False).astype(int)

In [12]:
df.sort_values("round_score", ascending=False)[["submitter", "round", "round_score"]]

              submitter                        round  round_score
94               murray  Ich spreche kein Englisch üëΩ         29.0
695                 Tim      üëá Straight to the point         26.0
521                fred                     Sp00ky üëª         25.0
187      Jenny Seaborne          Best live version üé§         24.0
19                Jamie                       Coverüé™         23.0
..                  ...                          ...          ...
391        sam24ahhhhhh                To the polls‚ùå        -11.0
206                Olek          Best live version üé§        -12.0
466        sam24ahhhhhh                    Colours üé®        -12.0
74                 Olek            Film Soundtrack üéû        -13.0
18   Andrej Zacharenkov          120 seconds to go ‚è±        -17.0

[775 rows x 3 columns]

In [14]:
df.groupby("submitter")["round_score"].sum().sort_values(ascending=False)

submitter
Martha Mukungurutse         463.0
fred                        395.0
Jenny                       384.0
Helen Adams                 349.0
Jamie                       295.0
Russell                     283.0
Tim                         282.0
Mel Shallcrass              272.0
James Hardwick              265.0
Jenny Seaborne              242.0
murray                      234.0
Sacha Darwin                214.0
diplodocus.17               213.0
Tim            :)           202.0
Andrej Zacharenkov          149.0
Figataur                    145.0
Bethany Dickens-Devereux    138.0
Rory                        132.0
Sowdagar                    119.0
owainst                      94.0
Una                          78.0
sam24ahhhhhh                 69.0
Victoria Whitehead           50.0
Peter Rowe                   38.0
Olek                          6.0
Name: round_score, dtype: float64